<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/element-plus"></script>
  <script src="https://unpkg.com/vue-router@4"></script>
  <script src="https://cdn.bootcss.com/qs/6.11.0/qs.min.js"></script>
  <script src="https://unpkg.com/axios"></script>
  <script src="./utils/httpRequest.js"></script>
  <link rel="stylesheet" href="./style/css/style.css" />
  <title>笔记</title>
</head>

<body>
  <div id="app">
    <router-view></router-view>
  </div>

  <!-- 首页 -->
  <script type="text/x-template" id="home-template">
    <div class="wrapper">
      <div class="top">
        <el-avatar shape="square" :size="50" :src="note.avatar" />
        <div class="flex-1 top_r">
          <div class="top_r--name">{{note.nickname}}</div>
          <div class="top_r--time">{{note.time}}</div>
        </div>
      </div>

      <div class="note">
        <p class="note--title">{{note.title}}</p>
        <p class="note--content">{{note.content}}</p>
      </div>

      <!-- 九宫格 -->
      <div class="num-container">
        <div
          class="num-item"
          v-for="(item, index) in note.resourceList"
          :key="index"
        >
          <div v-if="item.type==0">
            <el-image
              style="width: 100%; height: 100px"
              :src="item.url"
              :zoom-rate="1.2"
              :preview-src-list="[item.url]"
              hide-on-click-modal
              fit="cover"
            />
          </div>
          <div v-if="item.type==1" class="videoContent" @click="btnFullVideo(item.url)">
            <svg class="vicon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" data-v-ea893728=""><path fill="currentColor" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm0 832a384 384 0 0 0 0-768 384 384 0 0 0 0 768zm-48-247.616L668.608 512 464 375.616v272.768zm10.624-342.656 249.472 166.336a48 48 0 0 1 0 79.872L474.624 718.272A48 48 0 0 1 400 678.336V345.6a48 48 0 0 1 74.624-39.936z" ></path></svg>
           <video :id="item.url" class="videoElement" :src="item.url+'#t=3'" preload="metadata" style="width:100%;height:100%;" 
           :poster="item.cover"
           @fullscreenchange="fullscreenchange(item.url)"
           ></video>
          </div>
        </div>
      </div>
      <!-- 按钮 -->
      <button  class="next-btn">打开app</button>
    </div>
  </script>
  <!-- 首页 -->
  <script src="./comp/home.js"></script>
  <!-- main.js -->
  <script src="./main.js"></script>
</body>

</html>