<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/element-plus"></script>
  <script src="https://unpkg.com/vue-router@4"></script>
  <!-- <script src="https://unpkg.com/@element-plus/icons-vue"></script> -->
  <script src="https://cdn.bootcss.com/qs/6.11.0/qs.min.js"></script>
  <script src="https://unpkg.com/axios"></script>
  <script src="./httpRequest.js"></script>
  <link rel="stylesheet" href="./style/css/style.css" />
  <title>笔记</title>
</head>

<body>
  <div id="app">
    <router-view></router-view>
  </div>

  <!-- 首页 -->
  <script type="text/x-template" id="home-template">
    <div class="wrapper">
      <div class="top">
        <el-avatar shape="square" :size="50" :src="note.avatar" />
        <div class="flex-1 top_r">
          <div class="top_r--name">{{note.nickname}}</div>
          <div class="top_r--time">{{note.time}}</div>
        </div>
      </div>

      <div class="note">
        <p class="note--title">{{note.title}}</p>
        <p class="note--content">{{note.content}}</p>
      </div>

      <!-- 九宫格 -->
      <div class="num-container">
        <div
          class="num-item"
          v-for="(item, index) in note.resourceList"
          :key="index"
        >
          <div v-if="item.type==0">
            <el-image
              style="width: 100%; height: 100px"
              :src="item.url"
              :zoom-rate="1.2"
              :preview-src-list="[item.url]"
              hide-on-click-modal
              fit="cover"
            />
          </div>
          <div v-if="item.type==1" class="videoContent" @click="btnFullVideo(item.url)">
            <svg class="vicon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" data-v-ea893728=""><path fill="currentColor" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm0 832a384 384 0 0 0 0-768 384 384 0 0 0 0 768zm-48-247.616L668.608 512 464 375.616v272.768zm10.624-342.656 249.472 166.336a48 48 0 0 1 0 79.872L474.624 718.272A48 48 0 0 1 400 678.336V345.6a48 48 0 0 1 74.624-39.936z" ></path></svg>
           <video :id="item.url" class="videoElement" :src="item.url+'#t=3'" preload="metadata" style="width:100%;height:100%;" 
           :poster="item.cover"
           @fullscreenchange="fullscreenchange(item.url)"
           ></video>
          </div>
        </div>
      </div>
      <!-- 按钮 -->
      <button  class="next-btn">打开app</button>
    </div>
  </script>
  <script>
    const Home = {
      setup() {
        const { reactive, toRefs, ref, computed, onMounted } = Vue;
        const { useRoute } = VueRouter
        const route = useRoute()

        onMounted(() => {
          let param = route.query.param
          console.log('param', param);
          // let decodedData = window.atob(param) //base64解密
          // ----------------
          apiget(`/note/getShareNote?params=${param}`, {}).then(res => {
            if (res.code == 0) {
              console.log('数据：', res.data);
              let data = res.data
              note.nickname = data.nickname
              note.avatar = data.avatar
              note.time = TimestampToDate(data.timestamp)
              note.noteId = data.noteId
              note.content = data.content
              note.resourceList = data.resourceList
              note.title = data.title
            }
          }).catch(err => { alert('网络错误') })
        })
        const note = reactive({

          nickname: '',
          avatar: '',
          time: '',
          noteId: 0,
          content: "",
          // 资源：0图片，1视频
          resourceList: [],
          title: ""
        })

        // 时间戳转时间
        function TimestampToDate(Timestamp) {
          let date1 = new Date(Timestamp);
          return date1.toLocaleDateString().replace(/\//g, "-") + " " + date1.toTimeString().substr(0, 8);
        }

        // 全屏幕播放
        const btnFullVideo = (id) => {
          const elVideo = document.getElementById(id);
          if (elVideo.requestFullscreen) {
            elVideo.requestFullscreen()
            elVideo.play()
          }
          else if (elVideo.webkitRequestFullScreen) {
            elVideo.webkitRequestFullScreen()
            elVideo.play()
          } else if (elVideo.mozRequestFullScreen) {
            elVideo.mozRequestFullScreen()
            elVideo.play()
          } else {
            elVideo.play()
          }
        }
        // 退出全屏停止
        const fullscreenchange = (id) => {
          const video = document.getElementById(id);
          if (!document.webkitIsFullScreen) {
            video.pause()
          }

        }

        return {
          note,
          btnFullVideo,
          fullscreenchange
        };
      },
      template: '#home-template',
    };
  </script>
  <!-- 首页 -->

  <!-- main.js -->
  <script>
    const APP = {
      setup() {
        return {
        }
      },
    };
    // 1. 引入组件：Home,About
    // 2. 定义一些路由
    const routes = [
      { path: "/", component: Home },
    ];

    // 3. 创建路由实例并传递 `routes` 配置
    const router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      routes,
    });

    // 4. 创建并挂载根实例
    const app = Vue.createApp(APP);
    //确保 _use_ 路由实例使整个应用支持路由。
    app.use(router);
    app.use(ElementPlus)
    app.mount("#app");
  </script>
  <!-- main.js -->
</body>

</html>